<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="topnav navbar navbar-inverse" th:fragment="header">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Digital Lab</a>

            <ul class="nav navbar-nav">
                <li class="active"><a href="/reagents/add-reagent">Add new reagent</a></li>
                <li class="active"><a href="/reagents/view-reagents">View Reagents</a></li>
                <li class="active"><a href="/reagentlocations/add-reagentlocation">Add new Reagent Location</a></li>
                <li class="active"><a href="/reagentlocations/view-reagentlocations">View Locations</a></li>
                <li class="active"><a href="/compounds/add-new-compound/">Add new compound</a></li>
                <li class="active"><a href="/compounds/view-compounds">View Compounds</a></li>
                <li th:if="${#httpServletRequest.remoteUser != null}" class="active"><a th:inline="text">[[${#httpServletRequest.remoteUser}]]</a></li>
                <li>
                    <form th:if="${#httpServletRequest.remoteUser != null}"  class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" class="btn btn-danger"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


</body>
</html>