<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
</head>
<body>

<nav class="topnav navbar navbar-inverse" th:fragment="header">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/reagents">Digital Lab</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/reagents/add-new-reagent">Add new reagent</a></li>
                <li class="active"><a href="/locations/add-new-location">Add new location</a></li>
                <li class="active"><a href="/compounds/add-new-compound">Add new compound</a></li>
            </ul>
        </div>
    </div>
</nav>


</body>
</html>