<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <title>Add compound</title>
</head>
<body>
<center>
    <h2>Create New Compound</h2>

    <form action="save" method="post" th:object="${compound}">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>cas</th>
                <td><input name="cas"/></td>
            </tr>
            <tr>
                <th>smiles</th>
                <td><input type="text" name="smiles"/></td>
            </tr>
            <tr>
                <th>name</th>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Add compound" class="btn btn-success"/></td>
            </tr>
            </tbody>
        </table>

        <link rel="stylesheet" th:href="@{/css/ChemDoodleWeb.css}" href="/css/ChemDoodleWeb.css" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/jquery-ui-1.11.4.css}" href="/css/jquery-ui-1.11.4.css" type="text/css"/>

        <th:block layout:fragment="script">

            <script type="text/javascript" th:href="@{/js/CChemDoodleWeb.js}"
                    th:src="@{/js/ChemDoodleWeb.js}" src="/js/ChemDoodleWeb.js"
                    th:inline="javascript"></script>

            <script type="text/javascript" th:href="@{/js/CChemDoodleWeb-uis.js}"
                    th:src="@{/js/ChemDoodleWeb-uis.js}" src="/js/ChemDoodleWeb-uis.js"
                    th:inline="javascript"></script>
            <script>

                // changes the default JMol color of hydrogen to black so it appears on white backgrounds
                ChemDoodle.ELEMENT['H'].jmolColor = 'black';
                // darkens the default JMol color of sulfur so it appears on white backgrounds
                ChemDoodle.ELEMENT['S'].jmolColor = '#B9A130';
                // initializes the SketcherCanvas
                var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300, {useServices:true, oneMolecule:false});
                // sets terminal carbon labels to display
                sketcher.specs.atoms_displayTerminalCarbonLabels_2D = true;
                // sets atom labels to be colored by JMol colors, which are easy to recognize
                sketcher.specs.atoms_useJMOLColors = true;
                // enables overlap clear widths, so that some depth is introduced to overlapping bonds
                sketcher.specs.bonds_clearOverlaps_2D = true;
                // sets the shape color to improve contrast when drawing figures
                sketcher.specs.shapes_color = 'c10000';
                // because we do not load any content, we need to repaint the sketcher, otherwise we would just see an empty area with the toolbar
                // however, you can instead use one of the Canvas.load... functions to pre-populate the canvas with content, then you don't need to call repaint
                sketcher.repaint();
            </script>
        </th:block>

        <!--<th:block layout:fragment="script">-->

            <!--<script type="text/javascript" th:href="@{/js/CChemDoodleWeb.js}"-->
                    <!--th:src="@{/js/ChemDoodleWeb.js}" src="/js/ChemDoodleWeb.js"-->
                    <!--th:inline="javascript"></script>-->

            <!--<script type="text/javascript" th:href="@{/js/CChemDoodleWeb-uis.js}"-->
                    <!--th:src="@{/js/ChemDoodleWeb-uis.js}" src="/js/ChemDoodleWeb-uis.js"-->
                    <!--th:inline="javascript"></script>-->
            <!--<script>-->

                <!--// changes the default JMol color of hydrogen to black so it appears on white backgrounds-->
                <!--ChemDoodle.ELEMENT['H'].jmolColor = 'black';-->
                <!--// darkens the default JMol color of sulfur so it appears on white backgrounds-->
                <!--ChemDoodle.ELEMENT['S'].jmolColor = '#B9A130';-->
                <!--// initializes the SketcherCanvas-->
                <!--var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300, {useServices:true, oneMolecule:false});-->
                <!--// sets terminal carbon labels to display-->
                <!--sketcher.specs.atoms_displayTerminalCarbonLabels_2D = true;-->
                <!--// sets atom labels to be colored by JMol colors, which are easy to recognize-->
                <!--sketcher.specs.atoms_useJMOLColors = true;-->
                <!--// enables overlap clear widths, so that some depth is introduced to overlapping bonds-->
                <!--sketcher.specs.bonds_clearOverlaps_2D = true;-->
                <!--// sets the shape color to improve contrast when drawing figures-->
                <!--sketcher.specs.shapes_color = 'c10000';-->
                <!--// because we do not load any content, we need to repaint the sketcher, otherwise we would just see an empty area with the toolbar-->
                <!--// however, you can instead use one of the Canvas.load... functions to pre-populate the canvas with content, then you don't need to call repaint-->
                <!--sketcher.repaint();-->
            <!--</script>-->
        <!--</th:block>-->

    </form>
    <a href="/reagents/main" class="btn btn-success">Back</a>

</center>
</body>
</html>