<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >

<head>
    <title>Add location</title>
    <meta charset="utf-8"/>
    <!--<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task List</title>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />

</head>
<body>
<div th:replace="fragments/header :: header">

</div>
<div layout:fragment="content" style="width:60%">
    <!--<center>-->
        <h2>Create New Location</h2>

        <form action="save" method="post" th:object="${location}">

            <div class="row form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input name="descr"/>
                </div>

            </div>

            <button name="action" value="save" class="btn btn-success col-sm-offset-2">Save</button>

        </form>
        <!--<a href="/reagents/main" class="btn btn-success">Back</a>-->
    <!--</center>-->
</div>
</body>
</html>