<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Add reagent</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>
<h2>Create New Reagent</h2>
<div layout:fragment="content" style="width:60%">
    <center>
        <form method="POST" action="save" th:object="${reagent}" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Receipt Date: </label>
                <div class="col-sm-10">
                    <input th:field="*{receiptDate}" placeholder="2000-12-31"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Compound: </label>
                <div class="col-sm-10">
                    <select th:field="*{compound}" class="form-control">
                        <option value="-1">Select a compound</option>
                        <option th:each="compound : ${compounds}"
                                th:value="${compound.id}"
                                th:text="${compound.shortName}">Select a compound
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Location: </label>
                <div class="col-sm-10">
                    <select th:field="*{location}" class="form-control">
                        <option value="-1">Select a location</option>
                        <option th:each="location : ${locations}"
                                th:value="${location.id}"
                                th:text="${location.descr}">${location.descr}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Comments: </label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" th:field="*{comments}"></textarea>
                </div>
            </div>
            <input type="submit" class="btn btn-default" value="SAVE"/>
        </form>
        <a href="/reagents/main" class="btn btn-success">Back</a>
    </center>
</div>
</body>
</html>