<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Reagents</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>compound</th>
            <th>location</th>
            <th>receiptDate</th>
            <th>storageLife</th>
            <th>comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reagent : ${reagents}">
            <td th:text="${reagent.id}">1</td>
            <td th:text="${reagent.compound.getId()}">1</td>
            <td th:text="${reagent.location.getId()}">1</td>
            <td th:text="${reagent.receiptDate}">1</td>
            <td th:text="${reagent.storageLife}">1</td>
            <td th:text="${reagent.comments}">1</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>