<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Compounds</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        });
    </script>
    <script type="text/javascript" language="javascript" src="/js/jsme/jsme.nocache.js"></script>
</head>

<body>

    <div th:replace="fragments/header :: header" />
    <div class="content">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="table">
            <thead>
                <tr>
                    <th>Short Name</th>
                    <th>IUPAC Name</th>
                    <th>Molecular Formula</th>
                    <th>Structure</th>
                    <th>CID</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="compound : ${compounds}">
                    <td th:text="${compound.shortName}">1</td>
                    <td th:text="${compound.iupacName}">1</td>
                    <td th:text="${compound.getFormula()}">1</td>
                    <td>
                        <div code="JME.class" name="JME" archive="JME.jar" width="120" height="80" id="JME">
                            <param name="options" value="depict,useopenchemlib" />
                            <param name="jme" th:value="${compound.jmeFile}" />
                        </div>
                    </td>
                    <td th:text="${compound.cid}">1</td>
                    <td>
                        <form th:action="@{/compounds/edit-compound/{id}(id=${compound.id})}" method="get" class="form-horizontal">
                            <button type="submit" class="btn btn-primary btn-sm btn-block">Edit</button>
                        </form>

                        <form th:action="@{/compounds/delete/{id}(id=${compound.id})}" method="get" class="form-horizontal">
                            <button type="submit" class="btn btn-danger btn-sm btn-block">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>